body{
    margin: 0px;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("https://img.freepik.com/premium-vector/rainbow-gradient-color-abstract-background_103282-900.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    margin-bottom: 15px;


}

.head__img{
    width: 46px;
    height: 46px;
}
.head-title__div{
    display: flex;
    align-items: center;
}

#inp-search{
    height: 30px;
    width: 250px;
    border-radius: 15px;
    border: 1px solid white;
    outline: none;
    margin-left:10px ;
}
.submit__btn{
    width: 50px;
    height: 30px;
    background-color: rgb(255, 250, 250);
    color: rgb(0, 0, 0);
    border: 1px solid white;


}
.head-search__div{
    width: 330px;
    height: 35px;
    background-color: white;
    margin-right: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.submit-icon{
    width: 25px;
    height: 25px;
}























.main-img__div{
width: 270px;
height: 480px;
margin-bottom: 15px;
}
.main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.main-img{
    width: 270px;
    height: 480px;
}